<!DOCTYPE html>
<html>
<head>
	<title>My Web Page</title>
	<style>
		body {
			background-color: #f2f2f2;
			font-family: Arial, sans-serif;
		}
		
		.container {
			width: 800px;
			margin: 40px auto;
			padding: 20px;
			background-color: #fff;
			border: 1px solid #ddd;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		}
		
		.header {
			background-color: #333;
			color: #fff;
			padding: 20px;
			text-align: center;
		}
		
		.content {
			padding: 20px;
		}
		
		.footer {
			background-color: #333;
			color: #fff;
			padding: 10px;
			text-align: center;
			clear: both;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Welcome to the webpage</h1>
		</div>
		<div class="content">
            <p>hello all </p>
			<p>you can share your creativity with us</p>
            <p> @dance_with_handzz</p>
		</div>
		<div class="footer">
			<p>&copy; 2025 My Web Page</p>
		</div>
	</div>
</body>
</html>
